body { 
  font-family: sans-serif;
  background-color: rgb(227, 230, 227);
}
#footer {
  width:1240px ;
  height: 290px;
  background-color: rgb(74, 74, 74);
  padding-top: 50px;
  box-sizing: border-box;
 
}
#child {
  width: 90%;
  height: 87%;
  margin: auto;
  display: flex;
}
#lab {
  width: 250px;
  height: 45.67px;
  margin-right: 100px;
  text-align: center;
  /* margin-left: 40px;  */
}

#others {
  width: 70%;
  height: 100%;
  /* margin-left: 40px;
  margin-right: 70px; */
  display: flex;
  margin: auto;
  /* padding-left: 30px; */
}

a>img {
  height: 40px;
  width: 101px;
}
.sub-links {
  /* border: 1px solid blue; */
  width: 245px;
  height: 194px;
}

.title {
  color: rgb(255, 255, 255);
  font-size: 16px;
  margin-bottom: 30px;
  font-weight: 600;
}

.links {
  color: #dce8ee;
  font-weight: 600;
  font-size: 13px;
  background-color: rgb(74, 74, 74);
}
a {
  color: rgb(252, 243, 230);
  text-decoration: none;
}
.icon-color {
  color: #e1e8ec;
  font-size: 10px;
  padding-right: 10px;
  background-color: rgb(74, 74, 74);
}
.line {
  border: 0px solid #a0acb3;
  background-color: #a0acb3;
  height: 0.5px;
  width: 90%;
  justify-content: center;
  margin: auto;
}
.copy {
  text-align: center;
  margin: auto;
  color: #97a7af;
  font-size: 10px;
  /* padding-top: 0px; */
  padding-bottom: 20px;
}
